nav {
  display: flex;
  justify-content: space-between;

  background-color: brown;
}
.ivon {
  display: flex;
}
nav li {
  list-style: none;
}
nav a {
  font-size: 3em;
  text-decoration: none;
  margin-right: 20px;
  color: aliceblue;
}
nav a:hover {
  background-color: black;
}
